/* All page styles */

* {
  box-sizing: border-box;
}

body,
input,
button {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
}

p {
  margin: 0;
}

/* Text styles */

.extra-large {
  font-size: 32px;
  font-weight: 500;
  line-height: 37px;
}

.large {
  font-size: 34px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.0025em;
}

.large-middle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.middle {
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.0015em;
}

.middle-middle {
  font-size: 18px;
  line-height: 21px;
}

.middle-small {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.005em;
}

.small {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.0025em;
}

.title-text {
  color: var(--color-title-text);
}

.subtitle-text {
  color: var(--color-sub-title);
}

.info-text {
  color: var(--color-info-text); 
} 

.weight-500 {
  font-weight: 500;
}

/* Div styles */

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.absolute {
  position: absolute;
}

.baker-img {
  margin-right: 3px;
}
.time-img {
  width: 25px;
}

.level-img {
  width: 21px;
  margin-left: 3px;
  margin-right: 5px;
}