:root {
  --color-background: #F3F7FA;
  --color-white: #FFFFFF;
  --color-search-icon: #637280;
  --color-title-text: #242F57;
  --color-grade: #447363;
  --color-sub-title: #636E95;
  --color-info-text: #2D9CDB;
  --color-tezos-background: #DBEBF0;
}
